<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!-- logout -->
  <form action="/logout">
  <input type="submit" name='logout' value='logout'>
  </form>

  <!-- 현재 블록 수 및 total supply -->
<p>현재 블록 수 {{ now_block_number }}</p>
<p>1. total Supply : {{totalSupply}}</p>

<!-- 유저 잔고 확인 -->
<form method='POST'>
<p>2. 유저의 잔고 확인</p>
유저 명 : <input type="text" list="user_name" name='user_name_balance'>
<datalist id = 'user_name'>
  {% for user in user_list %}
  <option value={{user}}></option>
  {% endfor %}
</datalist>
<input type="submit" value="확인">
{{ show_token }}
</form>

<!-- 토큰 전송 -->
<form method='POST'>
<p>3. 토큰 전송 </p>
유저 명 : <input type="text" list="user_name" name='user_name_transfer'>
<datalist id = 'user_name'>
  {% for user in user_list %}
  <option value={{user}}></option>
  {% endfor %}
</datalist>
<input type="text" name="amount">
<input type="submit" value="확인">
</form>

</body>
</html>
