<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!-- login 버튼 -->
  <form action="http://localhost:5000/login">
    <input type="submit" name="login" value="login">
  </form>
  <!-- sign up 버튼 -->
  <form action="http://localhost:5000/signup">
    <input type="submit" name="signup" value="signup">
  </form>
  <!-- upload 버튼 -->
  <form action="http://localhost:5000/upload">
    <input type="submit" name='upload' value="upload">
  </form>
  <hr>
  <hr>

  <!-- upload 시 출력 되는 화면 -->

  <li>
      {% for list in music_list %}
    <audio src="./uploads/{{list}}" type="file/mp3" controls></audio>
     {%endfor %}
  </li>

</body>
</html>
