<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <!-- upload form -->
  <h1> File Upload</h1>
<hr>
  <form action='' method="POST" enctype="multipart/form-data">
    <p>title:<input type="text" name='title'>
    <p>lyrics:  </p>
      <textarea name="lyrics" id="lyrics" cols="30" rows="10"></textarea>
    <p>file:<input type="file" name="file">
    <p>   <input type="submit" value="upload">
  </form>


</body>
</html>
