<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- login한 user name 출력 -->
  <h1>{{user_name}} 님 안녕하세요</h1>

  <!-- login한 user wallet 주소 출력 -->
  <h2>지갑 주소 {{user_wallet}}</h2>

  <!-- login한 user token 잔액 출력 -->
  <h3>현재 잔고 {{show_token}}</h3>

  <hr>


    <!-- logout form -->
    <form action="/logout">
    <input type="submit" name='logout' value='logout'>
    </form>

<!-- upload form -->
    <form action="http://localhost:5000/upload">
      <input type="submit" name='upload' value="upload">
    </form>


<!-- upload 한 정보 출력 -->
  <hr>
  {% for list in music_list %}
  <li>
    {{list}}
    <audio controls>
      <source src='./uploads/{{list}}' type='audio/mp3'>
    </audio>
  </li>
  {% endfor %}
</body>
</html>
